{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section text notifications">
        {% if app.user %}
            <span class="date pull-right"><a class="btn" href="{{ path('gamejam_compo_notifications_mark_all') }}">Marcar todo como leído</a></span>
        {% endif %}
        <h1>Notificaciones</h1>

        {% for notification in notifications %}
        <a href="{{ path('gamejam_compo_notifications_view', {notification: notification.nameSlug}) }}">
            <div class="notification{% if notification.isPendingForUser(app.user) %} pending{% endif %}">
                <span class="date">{{ time_diff(notification.date) }}</span>{% if notification.isPendingForUser(app.user) %}<i class="fa fa-envelope"></i>{% endif %}
                <h3>{{ notification }}</h3>
                {% if notification.isPendingForUser(app.user) %}
                <p>{{ notification.content|truncate(100)|raw }}</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
