{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% stylesheets
        '@GameJamCompoBundle/Resources/public/css/elastislide.css'
        '@GameJamCompoBundle/Resources/public/css/carousel.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/modernizr/modernizr.js'
        '@GameJamCompoBundle/Resources/public/js/jquery.elastislide.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        // example how to integrate with a previewer

        var current = 0,
                $preview = $( '#preview' ),
                $carouselEl = $( '#carousel' ),
                $carouselItems = $carouselEl.children(),
                carousel = $carouselEl.elastislide( {
                    current : current,
                    minItems : 4,
                    onClick : function( el, pos, evt ) {

                        changeImage( el, pos );
                        evt.preventDefault();

                    },
                    onReady : function() {

                        changeImage( $carouselItems.eq( current ), current );

                    }
                } );

        function changeImage( el, pos ) {
            if(el.data('type') == 2 || el.data('type') == 3)
            {
                // youtube video
                $('.image-preview').html('<iframe class="youtube" width="100%" height="300" src="//www.youtube.com/embed/' + el.data('youtube-id') + '" frameborder="0" allowfullscreen></iframe>');
            }
            else
            {
                var imagePreview = $('<img id="preview" />');
                $('.image-preview').html(imagePreview);

                imagePreview.attr('src', el.data('preview'));
            }
            $carouselItems.removeClass( 'current-img' );
            el.addClass( 'current-img' );
            carousel.setCurrent( pos );

        }

        $(document).ready(function()
        {
            $('#vote-up').click(function()
            {
                {% if not app.user %}
                    window.alert('Debes estar registrado para valorar juegos')
                {% else %}
                $('#vote-up .count').html('<img src="{{ asset('bundles/gamejamcompo/images/loading.gif') }}" />');
                $.ajax({
                    method: 'POST',
                    url: '{{ path('gamejam_game_like', {game: game.nameSlug}) }}',
                    success: function(result)
                    {
                        $('#vote-up').removeClass('voteup').addClass('voted');
                        $('#vote-up .count').html(result.likes);
                        $('#vote-up').click(function()
                        {
                        });
                    }
                });
                {% endif %}
            });

            $('#give-coins').click(function()
            {
                {% if not app.user %}
                    window.alert('Debes estar registrado para dar UltraCoins');
                {% else %}
                    $('.give-coins-form').fadeIn();
                {% endif %}
            });

            $('#give-coins-form').submit(function(e)
            {
                e.preventDefault();

                $('#give-coins .count').html('<img src="{{ asset('bundles/gamejamcompo/images/loading.gif') }}" />');

                var data = $(this).serialize();

                $.ajax({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: data,
                    success: function(result)
                    {
                        $('#give-coins .count').html(result.coins);
                        $('.give-coins-form').fadeOut();
                    }
                })
            });
        })

    </script>
{% endblock %}

{% block content %}
    <div class="section game">
    <span class="{% if game.hasUserAlreadyLiked(app.user) %}voted{% else %}voteup{% endif %}" id="vote-up"><span class="count">{{ game.likes }}</span> <i class="fa fa-thumbs-up"></i></span>
    <span class="givecoins" id="give-coins"><span class="count">{{ game.coins }}</span> <img src="{{ asset('bundles/gamejamcompo/images/coin.png') }}"> </span>
    <h1>{{ game }}</h1>
        {% if give_coins_form %}
        <div class="content info showcase give-coins-form" style="display: none;">
            <form action="{{ path('gamejam_game_givecoins', {game: game.nameSlug}) }}" method="post" id="give-coins-form">
                Quiero dar a este juego:
                <div style="margin-top: 10px" class="input-group datetime">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    {{ form_widget(give_coins_form.coins, {'attr':{'class':'form-control'}}) }}
                </div>
                <button type="submit" class="btn">Dar UltraCoins</button>
            </form>
        </div>
        {% endif %}
        <div class="content info showcase">
            <div class="row">
                <div class="col-md-7" style="padding-right: 0;">
                    {% if game.media|length > 0 %}
                    <div class="gallery">
                        <div class="image-preview">
                            <img id="preview" />
                        </div>
                        <ul id="carousel" class="elastislide-list">
                            {% for media in game.media %}
                                <li data-preview="{{ asset(media.webPath) | apply_filter('game_gallery_image') }}" data-type="{{ media.type }}"{% if media.type == 2 or media.type == 3 %} data-youtube-id="{{ media.youtubeId }}{% endif %}"><a href="javascript: void(-1);"><img src="{{ asset(media.webPath) | apply_filter('game_gallery_thumb') }}"></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <div class="gallery">
                        Este juego aun no tiene imágenes :(
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if game.image %}
                    <img src="{{ asset(game.image) | apply_filter('game_gallery_top') }}" width="370" height="110" />
                    {% endif %}
                    <p class="description scrollable">{{ game.description }}</p>
                    {% if game.compo %}
                        <p><i class="fa fa-rocket"></i> <a href="{{ path('gamejam_compo_compo', {compo: game.compo.nameSlug}) }}">{{ game.compo }}</a></p>
                        <p><i class="fa fa-magic"></i> <strong>Tema: </strong> {{ game.compo.theme }}</p>
                        {% if game.diversifiers|length %}
                            <p><i class="fa fa-gear"></i> <strong>Diversificadores: </strong>
                                {% for diversifier in game.diversifiers %}
                                    {{ diversifier }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if game.team %}
                        <p><i class="fa fa-group"></i><strong> Equipo: </strong>
                            {% for user in game.team.users %}
                                <a href="{{ path('gamejam_user_profile', {user: user.username}) }}">{{ user }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% elseif game.user %}
                        <p><i class="fa fa-group"></i> <strong>Creador: </strong> {{ game.user }}</p>
                    {% endif %}
                    {% if app.user and game.userAllowedToEdit(app.user) %}
                        <a class="btn btn-lg action" href="{{ path('gamejam_game_panel_edit', {game: game.nameSlug}) }}"><i class="fa fa-pencil"></i> Editar juego</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="section activity">
            <div class="row">
                <div class="col-md-6">
                    <h2><i class="fa fa-comment"></i> Actividad</h2>
                    <div class="activity" style="margin-top: 10px;">
                        {% for item in game.activity %}
                            {% include ['GameJamGameBundle:Game:_activity_' ~item.typeName~'.html.twig', 'GameJamCompoBundle:Compo:_activity_' ~item.typeName~'.html.twig'] %}
                        {% else %}
                            <p class="item shout">
                                Aun no hay ninguna actividad...
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h2><i class="fa fa-file"></i> Descargas</h2>
                    <div class="activity" style="margin-top: 10px;">
                        {% for download in game.downloads %}
                            <div class="item download{% if download.gamejam %} gamejam{% endif %}">
                                <a class="btn btn-green pull-right" href="{{ download.fileUrl }}" target="_blank"><i class="fa fa-download"></i> Descargar</a>
                                {% if download.gamejam %}
                                    <h4>Versión GameJam</h4>
                                    <p class="description">Esta es la versión original subida durante la GameJam</p>
                                {% elseif game.description %}
                                    <h4>Version {{ download.version }}</h4>
                                    <p class="description">{{ game.description }}</p>
                                {% endif %}
                                {% if download.size %}<p><strong>Tamaño: </strong></p>{% endif %}
                                {% if download.platforms|length %}
                                    <p>
                                        <strong>Plataformas: </strong>
                                        {% for platform in download.platforms %}
                                            <i class="fa fa-{{ download.platformDescription(platform).slug }}"></i> {{ download.platformDescription(platform).name }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        {% else %}
                            No hay descargas aún :(
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}