{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section game">
    <h1>{{ game }}</h1>
        <div class="content info">
            <div class="row">
                <div class="col-md-7" style="padding-right: 0;">
                    <iframe width="100%" height="400" src="//www.youtube.com/embed/4wnUpTWTZl4?rel=0" frameborder="0" allowfullscreen class="youtube"></iframe>
                </div>
                <div class="col-md-5">
                    <img src="http://placehold.it/300x125" width="100%" />
                    <p class="description">{{ game.description }}</p>
                    {% if game.compo %}
                        <p><i class="fa fa-rocket"></i> {{ game.compo }}</p>
                        <p><i class="fa fa-magic"></i> <strong>Tema: </strong> {{ game.compo.theme }}</p>
                        {% if game.diversifiers|length %}
                            <p><i class="fa fa-gear"></i> <strong>Diversificadores: </strong>
                                {% for diversifier in game.diversifiers %}
                                    {{ diversifier }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if game.team %}
                    <p><i class="fa fa-group"></i><strong> Equipo: </strong>
                        {% for user in game.team.users %}
                            <a href="{{ path('gamejam_user_profile', {user: user.username}) }}">{{ user }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% elseif game.users %}
                    <p><i class="fa fa-group"></i><strong>Creador: </strong> {{ game.user }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content info">
            <h2><i class="fa fa-comment"></i> Actividad</h2>
            <div class="activity">
                {% for activity in game.activity %}
                    {% include 'GameJamGameBundle:Game:_activity_' ~activity.typeName~'.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}