<!DOCTYPE html>
<html lang="en">

{% import "GameJamCompoBundle::error_macro.html.twig" as display_form_errors %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GameJam Alicante es una asociación dedicada en exclusiva a organizar eventos relacionados con el desarrollo de videojuegos">
    <meta name="author" content="GameJam Alicante">

    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />

    <title>GameJam Alicante | ¡Participa en nuestras Game Jams de Alicante!</title>

    {% block styles %}
    {% stylesheets
        '//fonts.googleapis.com/css?family=Open+Sans:400,600'
        'components/bootstrap/css/bootstrap.css'
        'components/font-awesome/css/font-awesome.css'
        '@GameJamCompoBundle/Resources/public/css/countdown.css'
        '@GameJamCompoBundle/Resources/public/css/main.css'
        output='css/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
    {% endblock %}

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-e94483d1-a190-9d91-ee59-136d6609af51", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>

<body>
    {% if app.user and is_granted("ROLE_USER") %}
        {% include 'GameJamCompoBundle:Frontend:_shout.html.twig' %}
    {% endif %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container layout">
            <div class="navbar-left">
                <a href="{{ path('gamejam_compo_frontend_rules') }}" class="btn btn-gamejam"><i class="fa fa-book"></i> Normas</a>
                <a href="{{ site.facebook.url }}" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="{{ site.twitter.url }}" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                {% if app.user and is_granted("ROLE_JURY") %}
                <a href="{{ path('gamejam_compo_jury_vote') }}" class="btn"><i class="fa fa-thumbs-up"></i> Votar juegos</a>
                {% endif %}
            </div>
            {% if app.user and is_granted("ROLE_USER") %}
            <div class="navbar-right logged">
                <ul>
                    <li>{{ render(controller("GameJamCompoBundle:Frontend:partialNotifications")) }}</li>
                    <li><img class="avatar" src="{{ user_avatar(app.user, 40) }}" /></li>
                    <li>¡Bienvenido <strong><a href="{{ path('gamejam_user_profile', {user: app.user.username}) }}">{{ app.user }}</a></strong>!</li>
                    <li class="asset"><img src="{{ asset('bundles/gamejamcompo/images/coin.png') }}" height="25"> {{ app.user.coins }}</li>
                    <li class="asset"><img src="{{ asset('bundles/gamejamcompo/images/game.png') }}" height="25"> {{ app.user.level }}</li>
                    <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-logout"><i class="fa fa-power-off"></i> Desconectar</a></li>
                </ul>
            </div>
            {% else %}
                {% render(controller("GameJamCompoBundle:Frontend:partialLogin")) %}
            {% endif %}
        </div>
    </nav>

    <div class="container layout wrapper">
        <header>
            <div class="pull-left">
                <a href="{{ path('gamejam_compo_frontend') }}"><img src="{{ asset('bundles/gamejamcompo/images/logo.png') }}" alt="GameJam Alicante"></a>
            </div>
            <div class="pull-right header-right">
                <div id="countdown"></div>
                <ul class="menu">
                    <li{% block active_index %}{% endblock %}><a href="{{ path('gamejam_compo_frontend') }}"><i class="fa fa-home"></i> Portada</a></li>
                    <li{% block active_current %}{% endblock %}><a href="{{ path('gamejam_compo_frontend_current') }}"><i class="fa fa-ticket"></i> Edición actual</a></li>
                    <li{% block active_games %}{% endblock %}><a href="{{ path('gamejam_compo_games') }}"><i class="fa fa-gamepad"></i> Juegos</a></li>
                    <li{% block active_about %}{% endblock %}><a href="{{ path('gamejam_compo_frontend_about') }}"><i class="fa fa-question"></i> ¿Qué es?</a></li>
                </ul>
            </div>
        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="social-media">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_googleplus_hcount' displayText='Google +'></span>
            <span class='st_email_hcount' displayText='Email'></span>
        </div>
    </div>

    <footer>
        <div class="container layout">
        </div>
        <div class="wood">
            <div class="container layout">
                <div class="menu">
                    <a href="{{ path('gamejam_compo_frontend_contact') }}">Contacto</a> - <a href="{{ path('gamejam_compo_frontend_rules') }}">Normas</a> - <a href="{{ path('gamejam_compo_frontend_about') }}">¿Qué es?</a> - <a href="{{ path('gamejam_compo_frontend_staff') }}">¿Quienes somos?</a> - <a href="{{ path('gamejam_compo_contributors') }}">Colaboradores y jurados</a>{% if not app.user %} - <a href="{{ path('fos_user_registration_register') }}">Registrarse</a> - <a href="">Recuperar contraseña</a>{% endif %}
                </div>
                <div class="sponsors">
                    <h3>Colaboradores destacados</h3>
                    {% render(controller('GameJamCompoBundle:Contributor:partialContributors')) %}
                </div>
                <div class="copyright">
                    Todos los contenidos de la web se encuentran bajo una licencia <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_CO">Creative Commons Atribución-NoComercial-SinDerivadas 3.0 Unported</a>. El código fuente de esta página está disponible en <i class="fa fa-github"></i> <a href="https://github.com/gamejamalicante/gamejamua.com" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </footer>

{% block javascripts %}
{% javascripts
    'components/jquery/jquery.js'
    'components/bootstrap/js/bootstrap.js'
    '@GameJamCompoBundle/Resources/public/js/jquery.plugin.min.js'
    '@GameJamCompoBundle/Resources/public/js/jquery.countdown.js'
    '@GameJamCompoBundle/Resources/public/js/jquery.countdown-es.js'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function()
        {
            $.get('{{ path('gamejam_compo_frontend_timetonext') }}', function(result)
            {
                if(result.result)
                {
                    if(result.seconds > 0)
                    {
                        $('#countdown').countdown({until: result.seconds, compact: true,
                            layout: '<span class="image{d10}"></span><span class="image{d1}"></span>' +
                                    '<span class="imageDay"></span><span class="imageSpace"></span>' +
                                    '<span class="image{h10}"></span><span class="image{h1}"></span>' +
                                    '<span class="imageSep"></span>' +
                                    '<span class="image{m10}"></span><span class="image{m1}"></span>' +
                                    '<span class="imageSep"></span>' +
                                    '<span class="image{s10}"></span><span class="image{s1}"></span>'});
                    }
                }
            });
        });
    </script>
{% endblock %}

{% include "GoogleBundle:Analytics:async.html.twig" %}

</body>

</html>
