{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block compo_announcement %}{% endblock %}
{% block active_cause %} class="active"{% endblock %}

{% block content %}
    <div class="section inscription">
        <h1>Retos Solidarios <strong>{{ cause }}</strong><span style="float: right">Bote total: {{ cause.maxAmount }} €</span></h1>
        <p>{{ cause.description|raw }}</p>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th colspan="2">Juego</th>
                <th>Retos solidarios</th>
                <th>Cantidad donada</th>
                <th>Descargar</th>
            </tr>
            </thead>
            <tbody>
            {% for game in cause.games %}
            {% set total = 0 %}
            {% set total_donations = 0 %}
            <tr>
                <td>
                    <a href="{{ path('gamejam_game', {game: game.nameSlug}) }}" title="{{ game }}">
                        <div class="gamelisticon" id="gamelisticon12" style="background-image: url('{% if game.image %}{{ asset(game.image) }}{% elseif game.oldUrl %}{{ game.oldUrl }}{% endif %}');"></div>
                    </a>
                </td>
                <td style="width: 120px;">{{ game }}</td>
                <td>
                {% for challenge in game.challenges %}
                    {% set total = total + challenge.totalDonationAmount %}
                    {% set total_donations = total_donations + challenge.donations|length %}
                   <strong>Reto {{ loop.index }}:</strong> {{ challenge }}<br>
                {% endfor %}
                </td>
                <td>{{ total }} €<br>Ha habido un total de <strong>{{ total_donations }}</strong> donaciones</td>
                <td><a class="btn btn-logout" href="{{ game.gamejamDownload.fileUrl }}"><i class="fa fa-cloud-download"></i> Descargar</a><br><br><span style="font-size: 10px">¡Cada vez que juegues a este juego estarás donando!</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
{% endblock %}