{% extends 'GameJamGameBundle:Game:game.html.twig' %}

{% block compo_announcement %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function reloadGame(ignoreGame)
        {
            var url = '{{ path('gamejam_compo_jury_vote_game', {compo: compo.nameSlug}) }}';

            if (ignoreGame != null)
            {
                url = url + '?ignore=' + ignoreGame;
            }

            $('.game').load(url, function()
            {
                reloadVoted();
                bindSubmitForm();
                bindIgnoreForm();
                loadSlideshow('#carousel', 0);
            });
        }

        function reloadVoted()
        {
            var url = '{{ path('gamejam_compo_jury_voted_games', {compo: compo.nameSlug}) }}';
            $('.voted-games').load(url);
        }

        function bindSubmitForm()
        {
            $('#scoreform').submit(function(e)
            {
                e.preventDefault();

                var form = $(this);
                var action = form.attr('action');
                var data = form.serialize();

                $('#scoreform').html('<img src="{{ asset('bundles/gamejamcompo/images/loading.gif') }}" />');

                $.post(action, data, function(response)
                {
                    if(response.result != true)
                    {
                        alert('Hubo un error intentando votar este juego: ' + response.error)
                    }

                    reloadGame();
                });
            })
        }

        function bindIgnoreForm()
        {
            $('#ignore-button').click(function(e)
            {
                console.log('juas');
                e.preventDefault();
                reloadGame($(this).data('game'))
            })
        }

        $(document).ready(function()
        {
            reloadGame();
        })
    </script>
{% endblock %}

{% block like_script %}{% endblock %}

{% block content %}
    <div class="section inscription">
        <h1>Votaciones <strong>{{ compo }}</strong></h1>
        <div class="game"></div>
        <div class="voted-games">
        {{ render(controller('GameJamCompoBundle:Jury:votedGames', {compo: compo.nameSlug})) }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}