{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% import "GameJamCompoBundle::error_macro.html.twig" as display_form_errors %}

{% block content %}
    <div class="section profile">
        <h1>Editar perfil</h1>
        <div class="form-result">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Hemos encontrado errores en el formulario:</strong>
                {{ display_form_errors.display_error(form) }}
            </div>
        {% endif %}
        </div>
        <p>¡Editar y completa tu perfil, haz que todos te conozcan!</p>
        <div class="pull-right">
            <img class="avatar" src="{{ user_avatar(user, 200) }}" />
        </div>
        <div class="info">
        </div>
        <form id="loginform" action="{{ path('gamejam_user_panel_edit') }}" {{ form_enctype(form) }} method="post">
            <strong>Nickname</strong> (si lo dejas en blanco, utilizaremos tu nombre de usuario)
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form_widget(form.nickname, {'attr':{'class':'form-control'}}) }}
            </div>
            <strong>Avatar</strong> (si no subes ningún avatar, utilizares el <a href="http://gravatar.com" target="_blank">Gravatar</a> asociado a tu email)
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                {{ form_widget(form.avatarUrl, {'attr':{'class':'form-control'}}) }}
            </div>
            <strong>Email</strong>
            <div style="margin-bottom: 25px" class="input-group">
                <a hre="">Pulsa aquí</a> si quieres cambiar tu email
            </div>
            <strong>Password</strong>
            <div style="margin-bottom: 25px" class="input-group">
                <a href="{{ path('fos_user_change_password') }}">Pulsa aquí</a> si quieres cambiar tu contraseña
            </div>
            <div class="twitter" style="margin-bottom: 25px;">
            <strong>Twitter</strong> (la usaremos para mostrar tus Tweets sobre la GameJam a lo largo de la web)<br>
            {% if user.hasOauthServiceConnected("twitter") %}
                <button class="btn btn-twitter btn-large">Desconectar tu cuenta de Twitter (<strong>@{{ user.getOauthTwitterUsername }}</strong>)</button>
            {% else %}
                <a class="btn btn-twitter btn-lg" href="{{ path('hwi_oauth_service_redirect', {service: "twitter"}) }}">Conectar Twitter</a>
            {% endif %}
            </div>
            <h1>Datos personales</h1>
            <p> No es obligatorio rellenar éstos datos, aun asi puedes rellenarlos y desmarcar la casilla para que no sean publicos, en ese caso solo serán usados como dato para estadisticas de la web.</p>
            <strong>Fecha de nacimiento</strong>
            <div style="margin-bottom: 25px" class="input-group datetime">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                {{ form_widget(form.birthDate.day, {'attr':{'class':'form-control'}}) }}
                {{ form_widget(form.birthDate.month, {'attr':{'class':'form-control'}}) }}
                {{ form_widget(form.birthDate.year, {'attr':{'class':'form-control'}}) }}
            </div>
            <strong>Sexo</strong>
            <div style="margin-bottom: 25px" class="input-group datetime">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form_widget(form.sex, {'attr':{'class':'form-control'}}) }}
            </div>
            <strong>Página web</strong>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                {{ form_widget(form.siteUrl, {'attr':{'class':'form-control', 'placeholder': 'http://'}}) }}
            </div>
            <strong>¿De donde eres?</strong>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                {{ form_widget(form.city, {'attr':{'class':'form-control', 'placeholder': 'San Vicente, Alicante, ...'}}) }}
            </div>
            <strong>Presentación</strong>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                {{ form_widget(form.presentation, {'attr':{'class':'form-control', 'placeholder': 'Escribe una breve descripción de ti, tus habilidades o lo que quieras'}}) }}
            </div>
            <div class="checkbox input-group">
                <label>
                    {{ form_widget(form.publicProfile) }} Quiero que mis datos aparezca en mi perfil público
                </label>
            </div>
            <div class="checkbox input-group">
                <label>
                    {{ form_widget(form.publicEmail) }} Quiero que mi email aparezca en mi perfil público
                </label>
            </div>
            <div class="checkbox input-group">
                <label>
                    {{ form_widget(form.allowCommunications) }} Permitir comunicaciones por email (para ofertas de trabajo y cosas relacionadas con el sector)
                </label>
            </div>
            <div style="margin-top:10px" class="form-group bottom">
                <div class="col-sm-12 controls">
                    <button type="submit" id="btn-login" class="btn btn-green submit">¡Actualizar perfil!</button>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
        <div class="clearfix"></div>
    </div>
{% endblock %}