{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section">
        <h1>Colaboradores y jurados</h1>
        <p>En esta lista se muestran todos aquellos colaboradores y jurados que han colaborado con nosotros en alguna de nuestras ediciones. <strong>¡Mil gracias!</strong></p>
        {% for contributor in contributors %}
        <div class="contributor{% if contributor.featured %} featured{% endif %}">
            <img src="{{ asset(contributor.imageWebPath) }}" class="logo">
            <h2>{{ contributor }}</h2>
            {% if contributor.url %}
            <p><i class="fa fa-globe"></i> <a href="{{ contributor.url }}" target="_blank" rel="nofollow">{{ contributor.url }}</a></p>
            {% endif %}
            {% if contributor.composSponsored|length %}
            <p>
                <strong>Ha sponsorizado: </strong>
                {% for compo in contributor.composSponsored %}
                    {{ compo }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}
            {% if contributor.composJudged|length %}
                <p>
                    <strong>Ha participado como jurado: </strong>
                    {% for compo in contributor.composJudged %}
                        {{ compo }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if contributor.featured %}
                <p>{{ contributor.description }}</p>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
{% endblock %}