{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section">
        <h1>Sponsors</h1>
        <p>En esta lista se muestran todos nuestros sponsors.<strong>¡Mil gracias!</strong></p>
        {% for contributor in sponsors %}
        <div class="contributor{% if contributor.featured %} featured{% endif %}">
            <img src="{{ asset(contributor.imageWebPath) }}" class="logo">
            <h2>{{ contributor }}</h2>
            {% if contributor.url %}
            <p><i class="fa fa-globe"></i> <a href="{{ contributor.url }}" target="_blank" rel="nofollow">{{ contributor.url }}</a></p>
            {% endif %}
            {% if contributor.composSponsored|length %}
            {% endif %}
            {% if contributor.featured %}
                <p>{{ contributor.description }}</p>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        {% endfor %}
        <h2>Jurados</h2>
        <p>Estos son todos los jurados que valorarán tu juego en la presente edición</p>
        {% for contributor in juries %}
            <div class="pull-left" style="margin: 15px; text-align: center">
                {% if contributor.url %}<a href="{{ contributor.url }}" target="_blank" rel="nofollow">{% endif %}
                <img src="{{ asset(contributor.imageWebPath) }}" height="80"><br>
                {% if contributor.url %}</a>{% endif %}
                <h2 style="text-align: center">{{ contributor }}</h2>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endblock %}