{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block compo_announcement %}{% endblock %}

{% block content %}
    <div class="section inscription">
        <div class="mainbox col-md-6 col-sm-8 pull-right">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <div class="panel-title">Inscripción a la GameJam</div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Hemos encontrado errores en el formulario:</strong>
                            {{ display_form_errors.display_error(form) }}
                        </div>
                    {% endif %}

                    <strong>Precio de inscripción</strong>
                    <div class="prices row">
                        <div class="col-md-6">Miembro: <span>3 €</span></div>
                        <div class="col-md-6">Normal: <span>5 €</span></div>
                    </div>

                    <form action="{{ path('gamejam_compo_payment_details', {compo: compo.nameSlug, order: order.orderNumber}) }}" method="post">
                        <strong>Elige manera de pago</strong>
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form) }}
                                </label>
                            </div>
                        </div>
                        <div style="margin-top:10px" class="form-group bottom">
                            <div class="col-sm-12 controls">
                                <button type="submit" id="btn-login" class="btn btn-green submit">Continuar</button>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
        <h1>Inscribirse en la <strong>{{ compo }}</strong></h1>
        <p>¡Ya estás casi dentro! Ahora puedes realizar el pago online, bla bla</p>
        <div class="clearfix"></div>
    </div>
{% endblock %}