{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block compo_announcement %}{% endblock %}

{% block content %}
    <div class="section inscription">
        <div class="mainbox col-md-6 col-sm-8 pull-right">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <div class="panel-title">Inscripción a la GameJam</div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Hemos encontrado errores en el formulario:</strong>
                            {{ display_form_errors.display_error(form) }}
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Ha ocurrido un error procesando el pago. Por favor, vuelve a intentarlo.
                        </div>
                    {% endif %}

                    <div class="prices-box">
                        <label>Precio de inscripción</label>
                        <div class="prices row">
                            <div class="col-md-12 price"><span>{{ order.amount }} €</span></div>
                        </div>
                    </div>

                    <form action="{{ path('gamejam_compo_payment_details', {compo: compo.nameSlug, order: order.orderNumber}) }}" method="post">
                        <strong>Elige manera de pago</strong>
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.method.0, {'attr':{'selected':'selected'}}) }} Pago con PayPal <img src="{{ asset('bundles/gamejamcompo/images/paypal.png') }}"> <img src="{{ asset('bundles/gamejamcompo/images/visa.png') }}"> <img src="{{ asset('bundles/gamejamcompo/images/mastercard.png') }}">
                                </label><br>
                            </div>
                        </div>
                        <div style="margin-top:10px" class="form-group bottom">
                            <div class="col-sm-12 controls">
                                <button type="submit" id="btn-login" class="btn btn-green submit">Continuar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h1>Inscribirse en la <strong>{{ compo }}</strong></h1>
        <p>¡Ya estás casi dentro! Ahora puedes realizar el pago online para confirmar tu registro en la GameJam. Tenemos varias maneras de pagar, ¡elige la que mejor te convenga!</p>
        <p><strong>PayPal</strong><br>Haz el pago online y queda registrado en la GameJam de manera instantánea! El coste de PayPal incluye un pequeño recargo (sí, los sinvergüenzas de PayPal cobran comisiones)</p>
        {# <p><strong>Cuenta bancaria</strong><br>También puedes hacer un ingreso a través de nuestra cuenta bancaria. Si eliges este modo de pago, tendrás máximo 1 semana para hacer el ingreso, ¡si no perderás tu plaza en la GameJam! Este modo no lleva comisiones.</p>
        <p><strong>Pago en mano</strong><br>Si eliges este método de pago, nos pondremos en contacto contigo para gestionar el pago en mano. Lo mismo que con cuenta bancaria, tienes 1 semana para realizarlo! Por supuesto, sin comisiones (pero si nos quieres invitar a un algo, tampoco vamos a decir que no)</p> #}
        <div class="clearfix"></div>
    </div>
{% endblock %}