{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block content %}
    <div class="section profile">
        <div class="pull-left">
            <img class="avatar" src="{% if gravatar_exists(user.email) %}{{ gravatar(user.email, 200) }}{% else %}{{ asset('bundles/gamejamcompo/images/noavatar.jpg') }}{% endif %}" />
        </div>
        <div class="info">
            {% if user == app.user %}
                <div class="pull-right">
                    <button class="btn btn-green action" data-toggle="modal" data-target="#shout"><i class="fa fa-globe"></i> Actualizar estado</button>
                    <a class="btn action" href="{{ path('gamejam_user_panel_edit') }}"><i class="fa fa-pencil"></i> Editar perfil</a>
                </div>
            {% endif %}
            <h2>
                <i class="fa fa-user"></i> {{ user.nickname }}
                <img src="{{ asset('bundles/gamejamcompo/images/coin.png') }}" class="asset"> {{ user.coins }}
                <img src="{{ asset('bundles/gamejamcompo/images/game.png') }}" class="asset game"> {{ user.level }}
            </h2>
            <p>
                {{ user.username }}
                {% if user.twitter %}
                     - <i class="fa fa-twitter" style="color: #0088d0"></i> <a rel="nofollow" href="http://twitter.com/{{ user.twitter }}">{{ user.twitter }}</a>
                {% endif %}
                {% if user.siteUrl %}
                     - <a rel="nofollow" href="{{ user.siteUrl }}" target="_blank"><i class="fa fa-globe"></i> {{ user.siteUrl }}</a>
                {% endif %}
                {% if user.publicProfile %}
                    {% if user.sex is not null %}- {% if not user.sex %}<i class="fa fa-male"></i>{% else %}<i class="fa fa-female"></i>{% endif %}{% endif %}
                    {% if user.birthDate %}- {{ user.age }} años{% endif %}
                    {% if user.city %}- {{ user.city }}{% endif %}
                {% endif %}
                {% if user.publicEmail %}
                    - {{ user.email }}
                {% endif %}
            </p>
            <p>Registrado: <strong>{{ time_diff(user.registeredAt) }}</strong> - Última vez visto: <strong>{% if user.lastLogin %}{{ time_diff(user.lastLogin) }}{% else %}desconocido{% endif %}</strong></p>
            {% if user.presentation %}<p class="presentation">{{ user.presentation }}</p>{% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
    {% if user.shouts|length %}
        <div class="section description">
            <span class="date">{{ time_diff(user.shouts.first.date) }}</span>
            {{ user.shouts.first.content.content }}
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <div class="section achievements">
        {% for achievement in user.achievements %}
            <a href="">
                <div class="achievement">
                    <p class="title">{{ achievement }}</p>
                    <img title="{{ achievement }}" src="{{ asset('bundles/gamejamcompo/images/achievement/' ~ achievement.achievement.nameSlug) }}.png">
                </div>
            </a>
        {% else %}
            <div class="none">Este usuario aún no tiene logros :(</div>
        {% endfor %}
    </div>
    <div class="section activity">
        <div class="col-md-6 nopadding">
            <h2><i class="fa fa-comment"></i> Actividad</h2>
            <div class="activity" style="margin-top: 10px;">
                {% for item in user.activity %}
                    {% include ['GameJamUserBundle:User:_activity_' ~item.typeName~'.html.twig', 'GameJamCompoBundle:Compo:_activity_' ~item.typeName~'.html.twig'] %}
                {% else %}
                    <p class="item shout">
                        Este usuario aún no ha publicado nada :(
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 nopadding last">
            <h2><i class="fa fa-rocket"></i> Juegos publicados</h2>
            <div class="anygame profile" style="margin-top: 10px;">
            {% for game in user.allGames %}
                {% include 'GameJamGameBundle:Game:_game_single.html.twig' %}
            {% else %}
                <p class="item shout">
                    Este usuario aún no tiene juegos :(
                </p>
            {% endfor %}
            {% if user == app.user %}
                <a class="btn action btn-green" href="{{ path('gamejam_game_panel_create') }}"><i class="fa fa-plus"></i> Añadir juego</a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}