{% extends 'ThraceMediaBundle:Form:fields.html.twig' %}

{% block thrace_image_controls %}
    <div class="thrace-controls">
        <button id="thrace-image-btn-upload-{{ id }}" class="btn btn-twitter thrace-image-upload-button"
                title="{% trans from translation_domain %}button_upload_title{% endtrans %}"><i class="fa fa-upload"></i> Subir imagen</button>&nbsp;
        {% if configs.crop_button %}
            <a id="thrace-image-btn-crop-{{ id }}" class="btn thrace-image-upload-button"
               title="{% trans from translation_domain %}button_crop_title{% endtrans %}"><i class="fa fa-scissors"></i> Recortar</a>&nbsp;
        {% endif %}

        {% if configs.delete_button %}
        <a id="thrace-image-btn-remove-{{ id }}" class="btn btn-logout thrace-image-upload-button"
           title="{% trans from translation_domain %}button_remove_title{% endtrans %}"><i class="fa fa-trash-o"></i> Eliminar</a>&nbsp;
        {% endif %}
    </div>
{% endblock thrace_image_controls %}

{% block thrace_image_upload_crop %}
    <div id="thrace-dlg-image-crop-{{ id }}" style="display:none" title="Recortar imagen">

        <div id="thrace-image-crop-{{ id }}" class="thrace-image"></div>

        <div style="float:right">
            <input type="hidden" id="x-{{ id }}"/>
            <input type="hidden" id="y-{{ id }}"/>
            <input type="hidden" id="w-{{ id }}"/>
            <input type="hidden" id="h-{{ id }}"/>

            <a id="thrace-crop-dlg-save-btn-{{ id }}" class="btn thrace-image-upload-button"><i class="fa fa-scissors"></i> Recortar</a>&nbsp;
            <a id="thrace-crop-dlg-cancel-btn-{{ id }}" class="btn btn-logout thrace-image-upload-button">Cancelar</a>
        </div>
    </div>
{% endblock thrace_image_upload_crop %}