<div class="item achievement">
    <img class="avatar" src="{{ asset('bundles/gamejamcompo/images/coin.png') }}" />
    <h3><a href="{{ path('gamejam_user_profile', {user: item.user.username}) }}">{{ item.user }}</a> ha dado {{ item.content.coins }} UltraCoins a <strong><a href="{{ path('gamejam_game', {game: item.game.nameSlug}) }}">{{ item.game }}</a></strong>. ¡Ya lleva <strong>{{ item.content.total_coins }}</strong> UltraCoins!</h3>
    <span class="date"><i class="fa fa-clock-o"></i> {{ time_diff(item.date) }}</span>
    <div class="clearfix"></div>
</div>
