<div class="item">
    <img class="avatar" src="{% if gravatar_exists(item.user.email) %}{{ gravatar(item.user.email, 50) }}{% else %}{{ asset('bundles/gamejamcompo/images/noavatar.jpg') }}{% endif %}" />
    <span class="type"><i class="fa fa-comment"></i> Post</span>
    <h3><a href="{{ path('gamejam_user_profile', {user: item.user.username}) }}">{{ item.user }}</a></h3>
    <span class="date"><i class="fa fa-clock-o"></i> {{ time_diff(item.date) }}</span>
    <p>{{ item.content.content|raw }}</p>
    <div class="clearfix"></div>
</div>