<div class="item">
    {% if item.user %}
        <img class="avatar" src="{{ user_avatar(item.user, 50) }}" />
        <span class="type"><i class="fa fa-twitter"></i> @{{ item.user.twitter }}</span>
    <h3>{{ item.user }}</h3>
    {% else %}
        <img class="avatar" src="{{ item.content.avatar }}" />
        <h3>@{{ item.content.screen_name }}</h3>
    {% endif %}
    <span class="date"><i class="fa fa-twitter"></i> {{ time_diff(item.date) }}</span>
    <p>{{ item.content.content|raw }}</p>
    <div class="clearfix"></div>
</div>