{% if team %}
    Formas parte del equipo <strong>{{ team }}</strong>. Miembros:
    <ul>
        {% for member in team.users %}
            <li>{% if member == user %}Tú{% else %}{{ member }}{% endif %}{% if team.leader == member %} (Líder){% endif %}</li>
        {% endfor %}
    </ul>
    {% if invite_form %}
        <h4>Invitar a gente a tu equipo</h4>
        <p>Buscar los miembros que quieras invitar a tu equipo y envíales una invitación</p>
        <form action="{{ path('gamejam_compo_team_send_invitation', {compo: compo.nameSlug}) }}" method="post" id="send-invitation">
            <strong>Nombre de usuario a invitar</strong>
            <div style="margin-bottom: 10px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                {{ form_widget(invite_form.target, {'attr':{'class':'form-control select2'}}) }}
            </div>
            <div id="send-invitation-result" class="pull-right"></div>
            <button class="btn">Enviar invitación</button>
        </form>
    {% endif %}
{% else %}
    Estás participando en solitario.
    {% if compo.teamFormationOpen %}
        <h4>Buscar un equipo</h4>
        <form action="{{ path('gamejam_compo_team_send_request', {compo: compo.nameSlug}) }}" method="post" id="send-request">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                {{ form_widget(request_form.team, {'attr':{'class':'form-control select2'}}) }}
            </div>
            <div id="send-request-result" class="pull-right"></div>
            <button class="btn btn-success">Enviar petición para unirse</button>
        </form>
        <br>
        <h4>Crear un equipo</h4>
        Escribe el nombre de tu equipo y podrás invitar a otros miembros a formar parte de él:
        <form action="{{ path('gamejam_compo_team_create', {compo: compo.nameSlug}) }}" method="post" id="team-create">
            <strong>Nombre del equipo</strong>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                {{ form_widget(creation_form.name, {'attr':{'class':'form-control'}}) }}
            </div>
            <button class="btn btn-success">¡Crear equipo!</button>
        </form>
    {% else %}
        El periodo de formación de equipos ha terminado
    {% endif %}
{% endif %}