{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'components/select2/select2.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block active_current %} class="active"{% endblock %}

{% block compo_announcement %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'components/select2/select2.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% if compo.open %}
    <script type="text/javascript">

        var lastUpdate = Math.round(+new Date()/1000);

        function reloadActivity(target, showEffect, callback, last)
        {
            $('.loading').fadeIn();

            var targetUrl;

            if (!last) {
                targetUrl = '{{ path('gamejam_compo_compo_activity', {compo: compo.nameSlug, since: '__since'}) }}'
                        .replace('__since', "@" + lastUpdate);
            } else {
                targetUrl = '{{ path('gamejam_compo_compo_last_activity', {compo: compo.nameSlug}) }}';
            }

            $.get(targetUrl, function(content)
            {
                if(content)
                {
                    if(!showEffect)
                    {
                        $(target).prepend(content);
                    }
                    else
                    {
                        var newElement = $(content);

                        if(newElement != '')
                        {
                            $(target).prepend(newElement);
                            newElement.show('slow');

                            // remove old elements
                            var lastId = newElement.data('id');
                            var removeFrom = lastId - 7;

                            $('#activity-' + removeFrom + ' ~ div').remove();
                        }
                    }
                }

                $('.loading').fadeOut();

                lastUpdate = Math.round(+new Date()/1000);

                if(callback)
                    callback();
            });
        }

        var pendingShoutRequest = false;
        var refreshId = 0;

        $(document).ready(function()
        {
            reloadActivity('.activity', true, null, true);

            $('.shoutbox .shout-form').submit(function(e)
            {
                e.preventDefault();

                if(pendingShoutRequest == true)
                    return;

                var data = $(this).serialize();
                var shoutbox = $('.shoutbox .shout-form textarea');

                if(!$.trim(shoutbox.val()))
                    return;

                shoutbox.attr('read-only', 'read-only');
                shoutbox.attr('disabled', 'disabled');

                pendingShoutRequest = true;
                var shoutRequest = $.ajax({
                    url: '{{ path('gamejam_user_panel_shout') }}',
                    type: 'post',
                    data: data
                });

                shoutRequest.done(function()
                {
                    reloadActivity('.activity', true, function()
                    {
                        shoutbox.val("");
                        shoutbox.removeAttr('read-only');
                        shoutbox.removeAttr('disabled');

                        pendingShoutRequest = false;
                    });
                });

            }).bind("keydown", function(e)
            {
                if(e.keyCode == 13 && e.ctrlKey)
                {
                    $(this).submit();
                }
            });

            {% block countdown_js %}
            {% if not compo.hasFinished %}
                {% if compo.hasStarted %}
                    $('.countdown').countdown({until: {{ compo.secondsToFinish }}});
                {% else %}
                    $('.countdown').countdown({until: {{ compo.secondsToStartTime }}});
                {% endif %}
            {% endif %}

            {% endblock %}
        });

        $(window).on("blur focus", function(e) {
            var prevType = $(this).data("prevType");

            if (prevType != e.type) {
                switch (e.type) {
                    case "blur":
                        clearInterval(refreshId);
                        refreshId = 0;
                        break;
                    case "focus":
                        refreshId = setInterval('reloadActivity(".activity")', 10000);
                        break;
                }
            }

            $(this).data("prevType", e.type);
        });


    </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="section compo">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|trans|raw }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if user_application is defined and user_application and not user_application.isCompleted %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Atención!</strong> Aun no has completado el pago para inscribirte en la GameJam. <a href="{{ path('gamejam_compo_payment_details', {order: user_application.order.orderNumber, compo: compo.nameSlug}) }}">Pulsa aquí</a> para seguir con el proceso.
            </div>
        {% endif %}
        <div class="pull-right">
        {% block returnback %}
            <a href="{{ path('gamejam_compo_team', {compo: compo.nameSlug}) }}" class="btn btn-green"><i class="fa fa-users"></i> {% if open_formation %}Gestionar mi equipo{% else %}Ver equipos{% endif %}</a>
            {% if user_application and user_application.isCompleted %} <a style="margin-left: 5px;" href="{{ path('gamejam_compo_compo_modify_inscription', {compo: compo.nameSlug}) }}" class="btn btn-green"><i class="fa fa-edit"></i> Modificar mi inscripción</a>{% endif %}
        {% endblock %}
        </div>
        <h1><strong>{{ compo }}</strong></h1>
        {% block countdown %}
            <div id="countdown-container" class="pull-left">
                {% if not compo.hasFinished %}
                    ¡Quedan <span class="countdown"></span> {% if compo.hasStarted %}para que acabe{% else %}para que empieze{% endif %}!
                {% endif %}
            </div><br><br>
        {% endblock %}
        {% block compo_body %}
        <div class="row description">
            <div class="col-md-6">
                <p>{{ compo.description|raw }}</p>
            </div>
            <div class="col-md-6">
                <h2><i class="fa fa-rocket"></i> Tema elegido: <strong>{% if compo.theme %}{{ compo.theme }}{% else %}¡Aún no hay tema!{% endif %}</strong></h2>
                <p><strong>Fecha de inicio:</strong> {{ compo.startAt|date("d/m/Y H:i:s") }}</p>
                <p><strong>Fecha final:</strong> {{ compo.endAt|date("d/m/Y H:i:s") }}</p>
                <p><strong>Número de participantes:</strong> {{ compo.completedApplications }} participantes en {{ compo.teams|length }} equipos</p>
                <p>
                    Patrocinadores y colaboradores, ¡mil gracias!:<br>
                    {% for sponsor in compo.sponsors %}
                        <a href="{{ sponsor.url }}" target="_blank" rel="nofollow">
                            {% if sponsor.featured %}
                                <img src="{{ asset(sponsor.imageWebPath|apply_filter("sponsor_compo_featured")) }}" class="sponsor">
                            {% else %}
                                <img src="{{ asset(sponsor.imageWebPath|apply_filter("sponsor_compo_mini")) }}" class="sponsor">
                            {% endif %}
                        </a>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% if not compo.open %}
            <h1 style="text-align: center">GameJam finalizada. ¡Muchas gracias por participar!</h1>
        {% endif %}
        <div class="row compo-content">
            <div class="col-sm-6">
                <span class="pull-right loading"><img src="{{ asset('bundles/gamejamcompo/images/loading.gif') }}" /></span>
                <h2><i class="fa fa-comment-o"></i> Actividad de los participantes</h2>
                <div class="activity"></div>
            </div>
            <div class="col-sm-6">
                {% if user %}
                <h2><i class="fa fa-comment"></i> ¡Escribe algo en el muro!</h2>
                <div class="shoutbox">
                    <div class="twitter alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Si prefieres twittear, menciona a <strong><a href="https://twitter.com/intent/tweet?screen_name=GameJamUA" data-lang="es" data-related="GameJamUA">@GameJamUA</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></strong> o usa cualquiera de estos hashtags:
                        {% for hashtag in site.twitter.hashtags %}
                            <a href="https://twitter.com/intent/tweet?button_hashtag={{ hashtag }}" data-lang="es" data-related="GameJamUA">#{{ hashtag }}</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        {% endfor %}
                    </div>
                    {{ render(controller("GameJamUserBundle:Panel:shoutPartial")) }}
                </div>
                {% endif %}
                {% if compo.hasStarted and user_application and user_application.isCompleted %}
                <h2><i class="fa fa-rocket"></i> Tu juego</h2>
                <div class="application" id="team-container">
                    {% if game %}
                    <h3>{{ game }}</h3>
                    <a class="btn btn-green" href="{{ path('gamejam_game', {game: game.nameSlug}) }}"><i class="fa fa-rocket"></i> Ver tu juego</a>
                    <a class="btn btn-twitter" href="{{ path('gamejam_game_panel_edit', {game: game.nameSlug}) }}"><i class="fa fa-rocket"></i> Editar juego</a><br><br>
                    {% else %}
                        ¡Aún no tienes juego para esta GameJam! <a href="{{ path('gamejam_game_panel_create') }}">Pulsa aquí para crearlo</a>
                    {% endif %}
                </div><br><br>
                {% endif %}
                {% if user_application %}
                <h2><i class="fa fa-users"></i> Tu equipo</h2>
                <div class="application" id="team-container">
                    <a href="{{ path('gamejam_compo_team', {compo: compo.nameSlug}) }}">Pulsa aquí</a> para gestionar tu equipo
                </div>
                {% endif %}<br><br>
                <h2><i class="fa fa-pencil"></i> Tu inscripción</h2>
                <div class="application">
                    {% if user_application %}
                        {% if not user_application.isCompleted %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>¡Atención!</strong> Aun no has completado el pago para inscribirte en la GameJam. <a href="{{ path('gamejam_compo_payment_details', {order: user_application.order.orderNumber, compo: compo.nameSlug}) }}">Pulsa aquí</a> para seguir con el proceso.
                            </div>
                        {% endif %}
                        <img class="avatar pull-right" src="{{ user_avatar(user, 50) }}" />
                        <p>
                        {% if team %}
                            <strong>Equipo:</strong> {{ team }}
                        {% else %}
                            <strong>Estás participando en solitario :(</strong>
                        {% endif %}
                        </p>
                        <p>
                            <strong>Tipo de juego:</strong> {{ user_application.typeAsString }}
                        </p>
                        <p>
                            <strong>Modalidad:</strong> {{ user_application.modalityAsString }}
                        </p>
                        <p>
                            <strong>¿Te quedas a dormir?:</strong> {% if user_application.nightStay %}¡Sí!{% else %}No, mejor duermo en casa{% endif %}
                        </p>
                    {% elseif compo.isFull %}

                        {% if user %}
                             {% if not user.waitingListFor(compo) %}
                                 ¡Aun no estás inscrito!<br><br><a href="{{ path('gamejam_compo_compo_waitinglist', {compo: compo.nameSlug}) }}">Pulsa aquí</a> para inscribirte.
                             {% else %}
                                Estás en la lista de espera. ¡Te avisaremos si ampliamos plazas!
                             {% endif %}
                        {% endif %}
                    {% else %}
                        ¡Aun no estás inscrito! <a href="{{ path('gamejam_compo_compo_join', {compo: compo.nameSlug}) }}">Pulsa aquí</a> para inscribirte.
                    {% endif %}
                </div><br><br>
                <h2><i class="fa fa-pencil"></i> Miembros inscritos</h2>
                <div class="application">
                {% for member in joined_members %}
                        <img class="avatar" src="{{ user_avatar(member, 20) }}" style="width: 20px;" /> <a href="{{ path('gamejam_user_profile', {user: member.username}) }}">{{ member.username }}</a><br>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}