{% if compo %}
    {% if user and user.hasAppliedTo(compo) %}
        {% if compo.hasStarted %}
        <div class="section active-compo">
            <h2><i class="fa fa-rocket"></i> ¡Estás en plena competición para la <strong>{{ compo }}</strong>! <i class="fa fa-rocket"></i></h2>
            <p><a href="{{ path('gamejam_compo_compo', {compo: compo.nameSlug}) }}">Pulsa aquí para ir a la página de la competición con noticias, actividad de los participantes, etc...</a></p>
        </div>
        {% else %}
        <div class="section active-compo">
            <h2><i class="fa fa-rocket"></i> ¡Estás apuntado para participar en la <strong>{{ compo }}</strong>! <i class="fa fa-rocket"></i></h2>
            <p>La competición empieza en <strong>{{ compo.getDaysToStart }}</strong> días. ¡Te esperamos!</p>
        </div>
        {% endif %}
    {% else %}
    <div class="section active-compo">
        <h2><i class="fa fa-rocket"></i> ¡Ya están abiertas las inscripciones para la <strong>{{ compo }}</strong>! <i class="fa fa-rocket"></i></h2>
        <p><a href="{{ path('gamejam_compo_compo_join', {compo: compo.nameSlug}) }}">{% if app.user %}¡Pulsa aquí para inscribirte!{% else %}¡Pulsa aquí para registrarte e inscribirte!{% endif %}</a> ¡Sólo quedan <strong>{{ compo.openPlaces }}</strong> plazas disponibles!</p>
    </div>
    {% endif %}
{% endif %}