{% extends 'GameJamCompoBundle::layout.html.twig' %}

{% block active_index %} class="active"{% endblock %}

{% block content %}
    {% render(controller('GameJamCompoBundle:Frontend:partialActiveCompo')) %}
    <div class="section featured">
        <div class="col-md-4">
            <a href="{{ path('gamejam_compo_frontend_about') }}">
                <div class="box what">
                    <h2>¿Que es GameJamUA?</h2>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            {% if compo %}
                {% if app.user and app.user.hasAppliedTo(compo) %}
                    {% if compo.hasStarted %}
                    <a href="{{ path('gamejam_compo_compo', {compo: compo.nameSlug}) }}">
                    <div class="box register">
                        <h2>¡GameJam en curso!</h2>
                        <div class="description">Pulsa aquí para ir<br> a la página del concurso</div>
                    </div>
                    {% else %}
                    <a href="{{ path('gamejam_compo_compo', {compo: compo.nameSlug}) }}">
                    <div class="box register">
                        <h2>¡GameJam inminente!</h2>
                        <div class="description">¡Ya estás inscrito!</div>
                    </div>
                    {% endif %}
                </a>
                {% else %}
                    <a href="{{ path('gamejam_compo_compo_join', {compo: compo.nameSlug}) }}">
                        <div class="box register">
                            <h2>¡Inscripciones abiertas!</h2>
                            <div class="description">Pulsa aquí para inscribirte</div>
                        </div>
                    </a>
                {% endif %}
            {% else %}
                <div class="box register">
                    <h2>¡Inscripción cerrada!</h2>
                    <div class="description">No hay ninguna GameJam en curso.</div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <a href="{{ path('gamejam_compo_games') }}">
                <div class="box games">
                    <h2>Nuestros juegos</h2>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="section">
        <h2><i class="fa fa-bullhorn"></i> Noticias y novedades</h2>
        <div class="news row">
            {% for new in news|slice(0,2) %}
                <a href="{{ path('gamejam_compo_notifications_view', {notification: new.nameSlug}) }}">
                <div class="col-md-6 nopadding last">
                    <div class="item">
                        <h3>{{ new.title }} <span class="date">{{ time_diff(new.date) }}</span></h3>
                        {{ new.content|truncate(250)|raw }}
                    </div>
                </div>
                </a>
            {% else %}
                <p>No hay ninguna noticia reciente... seriously?</p>
            {% endfor %}
        </div>
    </div>
    <div class="section">
        <h2><i class="fa fa-cloud"></i> Última actividad de los miembros</h2>
        <div class="row activity-frontend">
            {% for item in activity %}
                <div class="activity">
                    {% include 'GameJamCompoBundle:Compo:_activity_' ~item.typeName~'.html.twig' %}
                </div>
            {% else %}
                <div class="activity">
                    Parece que está parada la cosa...
                </div>
            {% endfor %}
        </div>
    </div>
    <h2><i class="fa fa-comment-o"></i> Últimos mensajes</h2>
    {% for item in messages %}
        <div class="section index activity activity-last-frontend">
            {% include 'GameJamCompoBundle:Compo:_activity_' ~item.typeName~'.html.twig' %}
            <div class="clearfix"></div>
        </div>
    {% else %}
        <div class="section index">
            Hay muchos gatos comiendo muchas lenguas últimamente...
        </div>
    {% endfor %}
    <h2><i class="fa fa-twitter"></i> Menciones en Twitter</h2>
    {% for item in twitter_mentions %}
        <div class="section index activity">
            {% include 'GameJamCompoBundle:Compo:_activity_twitter.html.twig' %}
        </div>
    {% else %}
        <div class="section index">
            Nada en Twitter, that's a first...
        </div>
    {% endfor %}
{% endblock %}